:root {
    --primary-color: #0284c7;
  }
.container{
    overflow-x:auto;
    margin: 0px 10px 0px 0px;
    padding: 30px;
    scrollbar-width: none;
}
.container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slick-prev:before,
.slick-next:before {
  color:var(--primary-color);
}
.r-container{
    height:200px;
    margin: 10px 10px 10px 15px;
    padding:20px;
    max-width:25rem;
    display:flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--primary-color);
}
