:root {
  --primary-color: #0284c7;
}
.c {
  height: 80vh;
}
.c-bg {
  width: 20px;
  height: 80%;
  background-color: var(--primary-color);
  position: absolute;
}
.c-wrapper {
  padding: 0px 30px 0px 30px;
  display: flex;
}
.c-left {
  flex: 1;
}
.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px ;
  font-weight: 300;
  width: 70%;
}
.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.c-right {
  flex: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* background-color: blue; */
}
form {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 10px;
  font-size: 14px;
  padding-left: 10px;
  display: block;
  /* background-color: yellow; */
}

textarea {
  width: 100%;
  margin: 10px 10px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 10px;
}
.loader-button{
  border: 1px solid var(--primary-color);
  width:130px;
  height:30px;
  padding: 15px;
  color: #fff;
  margin: 20px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.submit-button{
  border: 1px solid var(--primary-color);
  width:130px;
  height:30px;
  padding: 15px;
  /* color: #fff; */
  margin: 20px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  background-color: Transparent;
}
.c-p-container[data-error]::after {
  /* background-color: red; */
  content: attr(data-error);
  width: 100%;
  max-width: 90%;
  height: 50px;
  /* border-bottom: 1px solid black; */
  margin: 10px 10px;
  color: red;
  /* justify-content: center;
  align-items: center; */
  /* display: table; */
  /* width: 100%; */
  /* flex: 1; */
}
@media screen and (max-width: 480px) {
  .c{
    height: 80vh;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }
  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 10px;
  }
  button {
    margin-top: 10px;
    cursor: pointer;
  background-color: Transparent;
  }
  .c{
    height: 40vh;
  }
  .c-right{
    display:none
}
.c-bg{
  display:none
}
}
@media screen and (max-width: 768px) {
  .c{
    height: 40vh;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }
  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 10px;
  }
  button {
    margin-top: 10px;
  }
  .c-right{
      display:none
  }
  .c-bg{
    display:none
  }
  
}
