.f-container{
  height:7vh;
    margin:5px 0px 0px 0px;
    justify-content:space-around;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 580px) {
    .f-container{
       flex-direction: column;
    }
}